#welcome{
	width:670px;
	height: 15px;
	border-bottom: 1px solid rgb(130,130,130);
	padding: 2px;
}

#display{
	margin:0px;
	width:510px;
	height: 350px;
	overflow:auto;
	border-bottom: 1px solid rgb(130,130,130);
	border-left: 1px solid rgb(130,130,130);
	padding: 3px;
	word-wrap:break-word;
}

#left_sidebar{
	position:fixed;
	background-color:#F7FEFF;
	height:100%;
	width:170px;
	top:0px;
	left:0px;
	border-right:1px solid rgb(130,130,130);
}

#online_users{
	margin:0px;
	width:146px;
	height: 350px;
	overflow:auto;
	border: 1px solid rgb(130,130,130);
	border-top:none;
	padding: 3px;
}

#online_users_title{
	margin:0px;
	padding:3px;
}

#user_input{
	margin-top:5px;
	display:inline-block;
}

