html, body{
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
}

#rocket_count{
	position:absolute;
	display:block;
	top:2px;
	left:2px;
	font-family:veranda,helvetica,arial,sans-serif;
	font-size:18px;
	color: white;
	z-index:100;
	cursor: pointer;
}

#main_canvas{
	position:absolute;
	display: block;
	cursor: crosshair;
}